<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <br><br><br>
    <div class="container mb-3">
      <form action="/posts/<%= post._id %>?_method=put<%= getPostQueryString(true) %>" method="post">
          <%- include('../partials/select') %>
          <br>
        <div class="form-group">
          <label for="title" id="new-title">제목</label>
          <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control">
        </div>

        <div class="form-group" id="new-title">
          <label for="body">내용</label>
          <textarea id="body" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea>
          <% if(errors.body){ %>
            <span class="invalid-feedback"><%= errors.body.message %></span>
          <% } %>
        </div>
        <% if(errors.unhandled){ %>
                  <div class="invalid-feedback b-block">
                    <%= errors.unhandled %>
                  </div>
                <% } %>
        <div>
          <button type="submit" class="btn btn-primary" id="new-submit">수정</button>
          <a class="btn btn-outline-primary" href="/posts<%= getPostQueryString() %>" id="new-submit">취소</a>
        </div>

      </form>

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
