<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
<br><br>
    <div class="container mb-3">

      <h2 class="mb-3">게시판 이름</h2>

      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col" width="50px">번호</th>
            <th scope="col" width="500px">제목</th>
            <th scope="col" class="author" width="100px">게시자</th>
            <th scope="col" class="date" width="150px">게시일</th>
            <th scope="col" width="75px">조회수</th>
            <th scope="col" width="75px">추천수</th>

          </tr>
        </thead>

        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td colspan=6> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td class="numId" width="20px"><%= post.numId %></td>
              <td nowrap><a href="/posts/<%= post._id %>"><div class="ellipsis" id="board-toomuch"><%= post.title %></div></a></td>
              <td class="author"><div class="ellipsis"><%= post.author ? post.author.username : "" %></div></td>
              <td class="date"><span data-date="<%= post.createdAt %>"><%= post.createdAt %></span></td>
              <td class="views"><%= post.views %></td>
              <td class="likenum"><%= post.likenum %></td>
            </tr>
          <% }) %>
        </tbody>

      </table>

      <div>
        <a class="btn btn-outline-primary" href="/posts/new" id="new-btn">새 글</a>
      </div>

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
