<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>


    <div class="container mb-3">
<br><br><br>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2" id="show-nav">
          <li class="breadcrumb-item"><a href="/" id="board-mini-nav">전체글보기</a></li>
          <li class="breadcrumb-item"><a href="/posts/?category=<%=post.category%>" id="board-mini-nav"><%= post.category %></a></li>
        </ol>
      </nav>

      <div class="card">
        <h5 class="card-header p-3" id="card-title-head"><%= post.title %></h5>
        <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
        <span data-date-time="<%= post.createdAt %>" id="title-data-s"></span>
        <div class="row">
          <div class="col-md-7 col-lg-8 col-xl-12 order-sm-2 order-md-1">
            <div class="post-body"><%= post.body %></div>
          </div>
        </div>
      </div>

        <button type="button" class="btn btn-primary">추천</button>
      <div class="mt-3">
        <a class="btn btn-outline-primary btn-sm" href="/posts" id="btns">뒤로가기</a>
        <a class="btn btn-primary btn-sm" href="/posts/<%= post._id %>/edit" id="btns">수정</a>
        <form action="/posts/<%= post._id %>?_method=delete" method="post" class="d-inline">
          <a class="btn btn-danger btn-sm" href="javascript:void(0)" id="btns" onclick="confirm('글을 삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
        </form>
      </div>
<%= post.author ? post.author.username : "" %>
<% if(post.updatedAt) { %>
<% } %>
<%- include('../partials/footer') %>
  </body>
</html>
